# Xcode
.DS_Store
*.swp
*.lock
*.xcuserstate
xcuserdata/
DerivedData/
.idea/
*.moved-aside
*.hmap
*.xccheckout
*.xcscmblueprint

# Build products
build/
*.ipa
*.app
*.dSYM.zip
*.dSYM
*.xcarchive

# CocoaPods
Pods/
Podfile.lock
*.xcworkspace

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/report.junit

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Other
*.orig
*.crt
*.pem
*.p12
*.key

# Logs
*.log
*.mark
*.plist

# Realm Database
*.realm
*.realm.lock
*.realm.management
*.realm.note

# Firebase
GoogleService-Info.plist

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo

# Custom exclusion
.env
Secrets/